.carousel {
	display: flex;
	width: 100%;
	overflow-x: auto;
	overflow-y: visible;
	height: 400px;
	padding: 0 30px;
	position: relative;
}

.carousel__container {
	white-space: nowrap;
	margin: 70px 0px;
	padding-bottom: 10px;
	z-index: 0;
	position: relative;
}

::-webkit-scrollbar {
	width: 1em;
}

::-webkit-scrollbar-track {
	box-shadow: none;
}

::-webkit-scrollbar-thumb {
	background-color: transparent;
	outline: none;
}
